@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css");
@import url("https://fonts.googleapis.com/css?family=Work+Sans:400,600");
:root {
  --primary-color: #3b56fb;
  --secondary-color: #565759;
  --third-color: #a14595;
  --bg-color-success: #24a213;
  --bg-color-danger: #d70731;
  --bg-color-info: #07d7d5;
  --bg-color-warning: #c8d707;
  --bg-color-primary: var(--primary-color);
  --bg-color-secondary: var(--secondary-color);
  --bg-color-third: var(--bg-color-third);
}

html,
body {
  overflow-x: hidden;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-size: 18px;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #2e2e2e;
}

p {
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: inherit;
  font-weight: 600;
  line-height: 1.3;
}

h1 {
  font-size: 4.209rem;
}

h2 {
  font-size: 3.157rem;
}

h3 {
  font-size: 2.369rem;
}

h4 {
  font-size: 1.777rem;
}

h5 {
  font-size: 1.333rem;
}

small,
.text_small {
  font-size: 0.75rem;
}

.mt-1 {
  margin-top: 0.6rem;
}

.mb-1 {
  margin-bottom: 0.6rem;
}

.ml-1 {
  margin-left: 0.6rem;
}

.mr-1 {
  margin-right: 0.6rem;
}

.mx-1 {
  margin-left: 0.6rem;
  margin-right: 0.6rem;
}

.my-1 {
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
}

.mt-2 {
  margin-top: 1.2rem;
}

.mb-2 {
  margin-bottom: 1.2rem;
}

.ml-2 {
  margin-left: 1.2rem;
}

.mr-2 {
  margin-right: 1.2rem;
}

.mx-2 {
  margin-left: 1.2rem;
  margin-right: 1.2rem;
}

.my-2 {
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
}

.mt-3 {
  margin-top: 1.8rem;
}

.mb-3 {
  margin-bottom: 1.8rem;
}

.ml-3 {
  margin-left: 1.8rem;
}

.mr-3 {
  margin-right: 1.8rem;
}

.mx-3 {
  margin-left: 1.8rem;
  margin-right: 1.8rem;
}

.my-3 {
  margin-top: 1.8rem;
  margin-bottom: 1.8rem;
}

.mt-4 {
  margin-top: 2.4rem;
}

.mb-4 {
  margin-bottom: 2.4rem;
}

.ml-4 {
  margin-left: 2.4rem;
}

.mr-4 {
  margin-right: 2.4rem;
}

.mx-4 {
  margin-left: 2.4rem;
  margin-right: 2.4rem;
}

.my-4 {
  margin-top: 2.4rem;
  margin-bottom: 2.4rem;
}

.mt-5 {
  margin-top: 3rem;
}

.mb-5 {
  margin-bottom: 3rem;
}

.ml-5 {
  margin-left: 3rem;
}

.mr-5 {
  margin-right: 3rem;
}

.mx-5 {
  margin-left: 3rem;
  margin-right: 3rem;
}

.my-5 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.pt-1 {
  padding-top: 0.6rem;
}

.pb-1 {
  padding-bottom: 0.6rem;
}

.pl-1 {
  padding-left: 0.6rem;
}

.pr-1 {
  padding-right: 0.6rem;
}

.px-1 {
  padding-left: 0.6rem;
  padding-right: 0.6rem;
}

.py-1 {
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
}

.pt-2 {
  padding-top: 1.2rem;
}

.pb-2 {
  padding-bottom: 1.2rem;
}

.pl-2 {
  padding-left: 1.2rem;
}

.pr-2 {
  padding-right: 1.2rem;
}

.px-2 {
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}

.py-2 {
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
}

.pt-3 {
  padding-top: 1.8rem;
}

.pb-3 {
  padding-bottom: 1.8rem;
}

.pl-3 {
  padding-left: 1.8rem;
}

.pr-3 {
  padding-right: 1.8rem;
}

.px-3 {
  padding-left: 1.8rem;
  padding-right: 1.8rem;
}

.py-3 {
  padding-top: 1.8rem;
  padding-bottom: 1.8rem;
}

.pt-4 {
  padding-top: 2.4rem;
}

.pb-4 {
  padding-bottom: 2.4rem;
}

.pl-4 {
  padding-left: 2.4rem;
}

.pr-4 {
  padding-right: 2.4rem;
}

.px-4 {
  padding-left: 2.4rem;
  padding-right: 2.4rem;
}

.py-4 {
  padding-top: 2.4rem;
  padding-bottom: 2.4rem;
}

.pt-5 {
  padding-top: 3rem;
}

.pb-5 {
  padding-bottom: 3rem;
}

.pl-5 {
  padding-left: 3rem;
}

.pr-5 {
  padding-right: 3rem;
}

.px-5 {
  padding-left: 3rem;
  padding-right: 3rem;
}

.py-5 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.container.md {
  max-width: 768px;
}
.container.lg {
  max-width: 992px;
}
.container.fluid {
  max-width: 100%;
}
.container .row::after {
  content: "";
  display: table;
  clear: both;
}
.container .row .col {
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 0px) {
  .container .row .col.xs-1 {
    width: 8.3333333333%;
  }
  .container .row .col.xs-2 {
    width: 16.6666666667%;
  }
  .container .row .col.xs-3 {
    width: 25%;
  }
  .container .row .col.xs-4 {
    width: 33.3333333333%;
  }
  .container .row .col.xs-5 {
    width: 41.6666666667%;
  }
  .container .row .col.xs-6 {
    width: 50%;
  }
  .container .row .col.xs-7 {
    width: 58.3333333333%;
  }
  .container .row .col.xs-8 {
    width: 66.6666666667%;
  }
  .container .row .col.xs-9 {
    width: 75%;
  }
  .container .row .col.xs-10 {
    width: 83.3333333333%;
  }
  .container .row .col.xs-11 {
    width: 91.6666666667%;
  }
  .container .row .col.xs-12 {
    width: 100%;
  }
}
@media screen and (min-width: 576px) {
  .container .row .col.sm-1 {
    width: 8.3333333333%;
  }
  .container .row .col.sm-2 {
    width: 16.6666666667%;
  }
  .container .row .col.sm-3 {
    width: 25%;
  }
  .container .row .col.sm-4 {
    width: 33.3333333333%;
  }
  .container .row .col.sm-5 {
    width: 41.6666666667%;
  }
  .container .row .col.sm-6 {
    width: 50%;
  }
  .container .row .col.sm-7 {
    width: 58.3333333333%;
  }
  .container .row .col.sm-8 {
    width: 66.6666666667%;
  }
  .container .row .col.sm-9 {
    width: 75%;
  }
  .container .row .col.sm-10 {
    width: 83.3333333333%;
  }
  .container .row .col.sm-11 {
    width: 91.6666666667%;
  }
  .container .row .col.sm-12 {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .container .row .col.md-1 {
    width: 8.3333333333%;
  }
  .container .row .col.md-2 {
    width: 16.6666666667%;
  }
  .container .row .col.md-3 {
    width: 25%;
  }
  .container .row .col.md-4 {
    width: 33.3333333333%;
  }
  .container .row .col.md-5 {
    width: 41.6666666667%;
  }
  .container .row .col.md-6 {
    width: 50%;
  }
  .container .row .col.md-7 {
    width: 58.3333333333%;
  }
  .container .row .col.md-8 {
    width: 66.6666666667%;
  }
  .container .row .col.md-9 {
    width: 75%;
  }
  .container .row .col.md-10 {
    width: 83.3333333333%;
  }
  .container .row .col.md-11 {
    width: 91.6666666667%;
  }
  .container .row .col.md-12 {
    width: 100%;
  }
}
@media screen and (min-width: 992px) {
  .container .row .col.lg-1 {
    width: 8.3333333333%;
  }
  .container .row .col.lg-2 {
    width: 16.6666666667%;
  }
  .container .row .col.lg-3 {
    width: 25%;
  }
  .container .row .col.lg-4 {
    width: 33.3333333333%;
  }
  .container .row .col.lg-5 {
    width: 41.6666666667%;
  }
  .container .row .col.lg-6 {
    width: 50%;
  }
  .container .row .col.lg-7 {
    width: 58.3333333333%;
  }
  .container .row .col.lg-8 {
    width: 66.6666666667%;
  }
  .container .row .col.lg-9 {
    width: 75%;
  }
  .container .row .col.lg-10 {
    width: 83.3333333333%;
  }
  .container .row .col.lg-11 {
    width: 91.6666666667%;
  }
  .container .row .col.lg-12 {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .container .row .col.xl-1 {
    width: 8.3333333333%;
  }
  .container .row .col.xl-2 {
    width: 16.6666666667%;
  }
  .container .row .col.xl-3 {
    width: 25%;
  }
  .container .row .col.xl-4 {
    width: 33.3333333333%;
  }
  .container .row .col.xl-5 {
    width: 41.6666666667%;
  }
  .container .row .col.xl-6 {
    width: 50%;
  }
  .container .row .col.xl-7 {
    width: 58.3333333333%;
  }
  .container .row .col.xl-8 {
    width: 66.6666666667%;
  }
  .container .row .col.xl-9 {
    width: 75%;
  }
  .container .row .col.xl-10 {
    width: 83.3333333333%;
  }
  .container .row .col.xl-11 {
    width: 91.6666666667%;
  }
  .container .row .col.xl-12 {
    width: 100%;
  }
}
@media screen and (min-width: 1400px) {
  .container .row .col.xxl-1 {
    width: 8.3333333333%;
  }
  .container .row .col.xxl-2 {
    width: 16.6666666667%;
  }
  .container .row .col.xxl-3 {
    width: 25%;
  }
  .container .row .col.xxl-4 {
    width: 33.3333333333%;
  }
  .container .row .col.xxl-5 {
    width: 41.6666666667%;
  }
  .container .row .col.xxl-6 {
    width: 50%;
  }
  .container .row .col.xxl-7 {
    width: 58.3333333333%;
  }
  .container .row .col.xxl-8 {
    width: 66.6666666667%;
  }
  .container .row .col.xxl-9 {
    width: 75%;
  }
  .container .row .col.xxl-10 {
    width: 83.3333333333%;
  }
  .container .row .col.xxl-11 {
    width: 91.6666666667%;
  }
  .container .row .col.xxl-12 {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .container .row .col {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}

.form .form-group {
  margin-bottom: 1rem;
}
.form .form-group label {
  margin-bottom: 0.5rem;
}
.form .form-input {
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}
.form .form-input::placeholder {
  color: #6c757d;
  opacity: 1;
}

.btn {
  margin-bottom: 0.5rem;
  padding: 0.5rem 1.3rem;
  font-weight: 600;
  color: white;
  border: none;
  transition: all 300ms ease-in;
}
.btn.primary {
  background-color: #3b56fb;
}
.btn.secondary {
  background-color: #565759;
}
.btn.success {
  background-color: #24a213;
}
.btn.danger {
  background-color: #d70731;
}
.btn.warning {
  background-color: #c8d707;
  color: #252525;
}
.btn.info {
  background-color: #07d7d5;
}
.btn.rounded {
  border-radius: 15px;
}
.btn:active, .btn:focus, .btn:hover {
  box-shadow: rgba(37, 37, 37, 0.4588235294) 1px 5px 5px;
  transform: scale(1.05);
}
.btn.sm {
  font-size: 0.75rem;
}
.btn.lg {
  font-size: 1.25rem;
}
.btn.icon-left i {
  margin-right: 0.25rem;
}
.btn.icon-right i {
  margin-left: 0.25rem;
}

.alert {
  border-radius: 0.5rem;
  margin: 1rem 0.3rem;
  padding: 1rem;
  opacity: 0.75;
  color: white;
  transform: translateX(100%);
}
.alert.alert-success {
  background-color: #24a213;
  border: 0.2rem solid #1a740e;
}
.alert.alert-success span {
  font-weight: 600;
}
.alert.alert-danger {
  background-color: #d70731;
  border: 0.2rem solid #a60526;
}
.alert.alert-danger span {
  font-weight: 600;
}
.alert.alert-warning {
  background-color: #c8d707;
  color: #2c2b2b;
  border: 0.2rem solid #9aa605;
}
.alert.alert-warning span {
  font-weight: 600;
}
.alert.alert-info {
  background-color: #07d7d5;
  border: 0.2rem solid #05a6a4;
}
.alert.alert-info span {
  font-weight: 600;
}
.alert.show {
  animation-duration: 3s;
  animation-name: alertAnimate;
  transform: translateX(0%);
}
@keyframes alertAnimate {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

/*# sourceMappingURL=clj.css.map */
