.carousel {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;

  .carousel-slides {
    display: flex;
    animation: carouselAnimation 20s linear infinite;

    .carousel-slide {
      flex-basis: 100%;
      height: inherit;
      background-size: cover;
      background-position: center center;
      img {
        width: inherit;
        height: inherit;
      }
    }
  }
  &:hover .carousel-slides {
    animation-play-state: paused;
  }
}

@keyframes carouselAnimation {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-200%); // Mover los slides a la izquierda
  }
}
