.flex {
  @include flex(row, center, center, wrap);
}

@media only screen and (max-width: 768px) {
  .flex {
    @include flex(row, center, center, wrap);
  }
}

@each $dt in $direction {
  .flex-#{$dt} {
    flex-direction: $dt;
  }
}

@each $jf in $justify {
  .flex-justify-#{$jf} {
    justify-content: $jf;
  }
}

@each $al in $align {
  .flex-align-#{$al} {
    align-items: $al;
  }
}

@each $wp in $wrap {
  .flex-#{$wp} {
    flex-wrap: $wp;
  }
}
