.container {
  max-width: $container-max-width;
  margin-left: auto;
  margin-right: auto;
  padding-left: cal(#{$gutter-width} / 2);
  padding-right: cal(#{$gutter-width} / 2);
  .row::after {
    content: "";
    display: table;
    clear: both;
  }

  [class*="col-"] {
    float: left;
    padding-left: cal(#{$gutter-width} / 2);
    padding-right: cal(#{$gutter-width} / 2);
    @each $type, $bp in $grid-breakpoints {
      @media (min-width: $bp) {
        .class {
          font: inherit;
        }
      }
    }
  }
}
