.hidden {
  display: none !important;
}
.show {
  display: block !important;
}
@each $type, $bp in $grid-breakpoints {
  @media only screen and (min-width: $bp) {
    .hidden-#{$type} {
      display: none !important;
    }
    .show-#{$type} {
      display: block !important;
    }
  }
}
