.hidden {
  display: none !important;
}
.show {
  display: block !important;
}
.navbar > .show {
  display: flex !important;
}

.navbar > .hidden {
  display: none !important;
}
@each $type, $bp in $grid-breakpoints {
  @media only screen and (min-width: $bp) {
    .hidden-#{$type} {
      display: none !important;
    }
    .show-#{$type} {
      display: block !important;
    }
    .navbar > .show-#{$type} {
      display: flex !important;
    }

    .navbar > .hidden-#{$type} {
      display: none !important;
    }
  }
}
