.list {
  list-style: none;
  margin-bottom: 1rem;
  &.shadow {
    box-shadow: #16161675 1px 3px 6px;
  }
  & > li,
  & > li > ul,
  & > li > li {
    padding-left: 2rem;
  }
  &.list-style-ol {
    list-style: decimal;
    margin-left: 2rem;
    & > li,
    & > li > ul,
    & > li > li {
      padding-left: 1rem;
    }
  }
  &.list-style-ul {
    list-style: initial;
    margin-left: 2rem;
    & > li,
    & > li > ul,
    & > li > li {
      padding-left: 1rem;
    }
  }
  & .list-item {
    @include py(0.5rem);
    @include px(1rem);
    width: 100%;
    display: block;
    border-bottom: 3px solid #888888;
    text-decoration: none;
    & > * {
      text-decoration: none;
      cursor: pointer;
      color: #000;
    }

    & > li,
    & > li > ul,
    & > li > li {
      padding-left: 2rem;
    }

    &:hover {
      filter: brightness(0.9);
    }
  }
}
