$i: 0;
@each $m in $margenes {
  .mt-#{$i} {
    @include mt($m);
  }
  .mb-#{$i} {
    @include mb($m);
  }
  .ml-#{$i} {
    @include ml($m);
  }
  .mr-#{$i} {
    @include mr($m);
  }
  .mx-#{$i} {
    @include mx($m);
  }
  .my-#{$i} {
    @include my($m);
  }
  .m-#{$i} {
    @include my($m);
    @include mx($m);
  }
  $i: $i + 1;
}

@each $type, $bp in $grid-breakpoints {
  @media only screen and (min-width: $bp) {
    $i: 0;
    @each $m in $margenes {
      .mt-#{$type}-#{$i} {
        @include mt($m);
      }
      .mb-#{$type}-#{$i} {
        @include mb($m);
      }
      .ml-#{$type}-#{$i} {
        @include ml($m);
      }
      .mr-#{$type}-#{$i} {
        @include mr($m);
      }
      .mx-#{$type}-#{$i} {
        @include mx($m);
      }
      .my-#{$type}-#{$i} {
        @include my($m);
      }
      .m-#{$type}-#{$i} {
        @include my($m);
        @include mx($m);
      }
      $i: $i + 1;
    }
  }
}
