@mixin my($m) {
  margin-top: $m !important;
  margin-bottom: $m !important;
}

@mixin mt($m) {
  margin-top: $m !important;
}

@mixin mb($m) {
  margin-bottom: $m !important;
}

@mixin mx($m) {
  margin-left: $m !important;
  margin-right: $m !important;
}

@mixin ml($m) {
  margin-left: $m !important;
}

@mixin mr($m) {
  margin-right: $m !important;
}

@mixin py($p) {
  padding-top: $p !important;
  padding-bottom: $p !important;
}

@mixin pt($p) {
  padding-top: $p !important;
}

@mixin pb($p) {
  padding-bottom: $p !important;
}

@mixin px($p) {
  padding-left: $p !important;
  padding-right: $p !important;
}

@mixin pl($p) {
  padding-left: $p !important;
}

@mixin pr($p) {
  padding-right: $p !important;
}

@mixin border-y($b) {
  border-top: #{$b}px solid #505050 !important;
  border-bottom: #{$b}px solid #505050 !important;
}

@mixin border-t($b) {
  border-top: #{$b}px solid #505050 !important;
}

@mixin border-b($b) {
  border-bottom: #{$b}px solid #505050 !important;
}

@mixin border-x($b) {
  border-left: #{$b}px solid #505050 !important;
  border-right: #{$b}px solid #505050 !important;
}

@mixin border-l($b) {
  border-left: #{$b}px solid #505050 !important;
}

@mixin border-r($b) {
  border-right: #{$b}px solid #505050 !important;
}

@mixin make-column($columns) {
  width: calc((100% / $grid-columns) * $columns);
}

@mixin make-offset($columns) {
  margin-left: calc((100% / $grid-columns) * $columns);
}

@mixin make-pull($columns) {
  right: calc((100% / $grid-columns) * $columns);
}

@mixin make-push($columns) {
  left: calc((100% / $grid-columns) * $columns);
}

@mixin flex($direction, $justify, $align, $wrap) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
}
