.navbar {
  background-color: $navbar-bg-color;
  color: $navbar-text-color;
  display: flex;
  justify-content: space-around;
  align-items: center;

  & &-logo {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
  }

  & .nav-links a {
    color: #fff;
  }

  & &-nav {
    display: flex;
    gap: 1em;
    font-size: 18px;
    list-style: none;
  }
  & &-item:hover {
    background-color: darken($navbar-bg-color, 10%);
    transition: 0.3s ease;
  }
  & &-item {
    padding: 0.75rem 1rem;
    & > a {
      text-decoration: none;
      color: $navbar-text-color;
    }
    &:has(a.active),
    &.active {
      background-color: darken($navbar-bg-color, 10%);
      border-bottom: 2px solid $navbar-text-color;
    }
    &.dropdown {
      position: relative;
      & .dropdown-menu {
        background-color: $navbar-bg-color;
        padding: 1em 0;
        position: absolute; /*WITH RESPECT TO PARENT*/
        display: none;
        border-radius: 8px;
        top: 100%;
        right: 0;
        list-style: none;
        & .navbar-item + .navbar-item {
          margin-top: 10px;
        }
        & .navbar-item {
          padding: 0.5em 1em;
          text-align: center;
          &:has(a.active),
          &.active {
            background-color: darken($navbar-bg-color, 10%);
            border-bottom: 2px solid $navbar-text-color;
          }
          &:hover {
            background-color: darken($navbar-bg-color, 10%);
          }
        }
      }
      &:hover .dropdown-menu {
        display: block;
      }
    }
  }
}
