$i: 0;
@each $p in $relleno {
  .pt-#{$i} {
    @include pt($p);
  }
  .pb-#{$i} {
    @include pb($p);
  }
  .pl-#{$i} {
    @include pl($p);
  }
  .pr-#{$i} {
    @include pr($p);
  }
  .px-#{$i} {
    @include px($p);
  }
  .py-#{$i} {
    @include py($p);
  }
  .p-#{$i} {
    @include py($p);
    @include px($p);
  }
  $i: $i + 1;
}

@each $type, $bp in $grid-breakpoints {
  @media only screen and (min-width: $bp) {
    $i: 0;
    @each $p in $relleno {
      .pt-#{$type}-#{$i} {
        @include pt($p);
      }
      .pb-#{$type}-#{$i} {
        @include pb($p);
      }
      .pl-#{$type}-#{$i} {
        @include pl($p);
      }
      .pr-#{$type}-#{$i} {
        @include pr($p);
      }
      .px-#{$type}-#{$i} {
        @include px($p);
      }
      .py-#{$type}-#{$i} {
        @include py($p);
      }
      .p-#{$type}-#{$i} {
        @include py($p);
        @include px($p);
      }
      $i: $i + 1;
    }
  }
}
