.p-static {
  position: static !important;
}

.p-relative {
  position: relative !important;
}

.p-fixed {
  position: fixed !important;
}

.p-absolute {
  position: absolute !important;
}

.p-sticky {
  position: sticky !important;
}

.p-absolute,
.p-sticky,
.p-relative,
.p-fixed {
  @for $i from 0 through 10 {
    &.top-#{$i},
    & .top-#{$i} {
      top: 10% * $i;
    }

    &.bottom-#{$i},
    & .bottom-#{$i} {
      bottom: 10% * $i;
    }

    &.left-#{$i},
    & .left-#{$i} {
      left: 10% * $i;
    }

    &.right-#{$i},
    & .right-#{$i} {
      right: 10% * $i;
    }
  }
}

@each $type, $bp in $grid-breakpoints {
  @media screen and (min-width: $bp) {
    .p-#{$type}-static {
      position: static !important;
    }

    .p-#{$type}-relative {
      position: relative !important;
    }

    .p-#{$type}-fixed {
      position: fixed !important;
    }

    .p-#{$type}-absolute {
      position: absolute !important;
    }

    .p-#{$type}-sticky {
      position: sticky !important;
    }

    .p-#{$type}-absolute,
    .p-#{$type}-sticky,
    .p-#{$type}-relative,
    .p-#{$type}-fixed {
      @for $i from 0 through 10 {
        &.top-#{$type}-#{$i},
        & .top-#{$type}-#{$i} {
          top: 10% * $i;
        }

        &.bottom-#{$type}-#{$i},
        & .bottom-#{$type}-#{$i} {
          bottom: 10% * $i;
        }

        &.left-#{$type}-#{$i},
        & .left-#{$type}-#{$i} {
          left: 10% * $i;
        }

        &.right-#{$type}-#{$i},
        & .right-#{$type}-#{$i} {
          right: 10% * $i;
        }
      }
    }
  }
}

@for $i from 0 through 5 {
  .z-index-#{$i} {
    z-index: $i * 50;
  }
}
