html,
body {
  font-size: 18px;
  font-family: $font-family;
  line-height: 1.5;
  overflow-x: hidden;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
